*{

    margin:0;
    padding:0;
    box-sizing:border-box;

    font-family:Poppins,sans-serif;

}

body{

    background:#100014;

    height:100vh;

    overflow:hidden;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

}

.background{

    position:absolute;

    width:100%;
    height:100%;

    background:

    radial-gradient(circle at top left,#a100ff55,transparent 35%),

    radial-gradient(circle at bottom right,#5d00ff66,transparent 35%),

    linear-gradient(140deg,#08000f,#1a002b,#37005e);

    filter:blur(10px);

}

.container{

    position:relative;

    text-align:center;

    padding:60px;

    width:90%;
    max-width:900px;

    border-radius:30px;

    background:rgba(255,255,255,.05);

    backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.1);

    box-shadow:

    0 0 40px rgba(162,0,255,.5),

    inset 0 0 25px rgba(255,255,255,.04);

}

h1{

    color:#d79cff;

    font-size:50px;

    margin-bottom:40px;

    text-shadow:

    0 0 15px #b14cff,

    0 0 35px #7f00ff;

}

.countdown{

    display:flex;

    justify-content:center;

    gap:25px;

    flex-wrap:wrap;

}

.box{

    width:150px;

    padding:25px;

    border-radius:20px;

    background:rgba(255,255,255,.07);

    border:1px solid rgba(255,255,255,.12);

    box-shadow:0 0 25px rgba(177,76,255,.35);

    transition:.3s;

}

.box:hover{

    transform:translateY(-8px);

    box-shadow:0 0 45px #b14cff;

}

.box span{

    font-size:60px;

    font-weight:bold;

    text-shadow:0 0 15px #c46bff;

}

.box p{

    margin-top:10px;

    color:#deb6ff;

}

.final{

    font-size:70px;

    color:white;

    text-shadow:

    0 0 15px #c46bff,

    0 0 30px #b14cff,

    0 0 60px #7a00ff;

    animation:brillo 2s infinite alternate;

}

@keyframes brillo{

from{

transform:scale(1);

filter:brightness(1);

}

to{

transform:scale(1.05);

filter:brightness(1.5);

}

}

@media(max-width:700px){

.box{

width:120px;

}

.box span{

font-size:42px;

}

.final{

font-size:42px;

}

}